body {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  * {
    font-family: Helvetica,sans-serif;
    color: #F44336;
  }
  
  header {
    text-align: center;
  }
  header h1 {
    text-transform: uppercase;
  }
  
  .myButt {
    outline: none;
    border: none;
    padding: 20px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
  }
  
  .one {
    border-color: red;
    overflow: hidden;
    color: black;
  }
  .one .insider {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -135px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);

    -ms-transform: rotateZ(45deg);
  }
  .one:hover {
    background-color: #F44336;
    border-color: #fff;
    color: #fff;
  }
  .one:hover .insider {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    left: 135px;
  }
  
  .two {
    border-color: red;
    overflow: hidden;
    color: black;
  }
  .two .insider {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -135px;
    transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    -moz-transform: rotateY(45deg);
    -o-transform: rotateY(45deg);
    -ms-transform: rotateY(45deg);
  }
  .two:hover {
    background-color: #F44336;
    border-color: #fff;
    color: #fff;
  }
  .two:hover .insider {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    right: 135px;
  }
  

  